@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(32, 32, 32);
    color: #fff;
}


.container_full{
    background-color: #333;
    width: 100%;
    border-bottom: 1px solid mediumseagreen;
}

.container{
    width: 1600px;
    margin: 0 auto;
    display: flex;
}

.logo img{
    width: 50px;
}

.navbar{
    margin-left: auto;
    display: flex;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    padding: 10px 20px;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all 0.3s ease-in-out;
    color: #fff;
}

ul li a:hover{
    color: mediumseagreen;
    border-bottom: 1px solid rgb(60, 179, 114);
}